.button-container {
  margin: 32px 0;
}

.button {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  background: #0fa3b1;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  height: 100%;
  text-decoration: none;
  transition: background 250ms ease-in-out,
  transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
}

.button:hover,
.button:focus {
  background: #0b7781;
}

.button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.button:active {
  transform: scale(0.99);
}

.button:disabled {
  background: grey;
  cursor: not-allowed;
}