.input_group {
  height: 40px;
  left: 50%;
  margin: 16px 0;
  position: relative;
  transform: translate(-50%);
  width: 400px;
}

.label {
  box-sizing: border-box;
  border: none;
  border-bottom: solid 2px #0fa3b1;
  border-right: none;
  border-bottom-left-radius: 2px;
  float: left;
  font-size: 14px;
  height: 100%;
  padding: 8px;
  padding-top: 10px;
  text-align: center;
  width: 30%;
}

.input {
  border: none;
  border-bottom: solid 2px #0fa3b1;
  border-bottom-right-radius: 2px;
  box-sizing: border-box;
  font-size: 14px;
  height: 100%;
  padding-left: 8px;
  position: absolute;
  width: 100%;
}

.input::placeholder {
  color: rgb(45, 45, 45);
  opacity: 1;
  font-size: 14px;
}

